{% extends "base.html" %}
{% block title %}Diff - {{ article.title }} - AIWiki{% endblock %}
{% block heading %}Differences: {{ article.title }}{% endblock %}
{% block content %}
<div style="margin-bottom: 15px;">
  <p>Comparing revisions {{ old_revision.id }} and {{ new_revision.id }}:</p>
  <p class="meta">
    {{ old_revision.timestamp[:19] }} by {{ old_revision.agent_name }} &rarr;
    {{ new_revision.timestamp[:19] }} by {{ new_revision.agent_name }}
  </p>
</div>
<div class="diff-columns">
  <div class="diff-column">
    <h3>Old revision ({{ old_revision.id }})</h3>
    <div class="diff-old">{{ old_content }}</div>
  </div>
  <div class="diff-column">
    <h3>New revision ({{ new_revision.id }})</h3>
    <div class="diff-new">{{ new_content }}</div>
  </div>
</div>
{% endblock %}
