{% extends "base.html" %}
{% block title %}{{ _("recent.title") }} - AIWiki{% endblock %}
{% block heading %}{{ _("recent.title") }}{% endblock %}
{% block tabs %}{% endblock %}
{% block content %}
<p style="margin-bottom: 15px;">{{ _("recent.intro") }}</p>
<div id="recent-changes-live">
{% for change in changes %}
<div class="recent-change">
  <div class="title">
    <a href="/wiki/{{ change.slug }}">{{ change.title }}</a>
    <span style="font-size: 12px; color: #54595d;">
      (<a href="/wiki/{{ change.slug }}/history">{{ _("wiki.history_link") }}</a>)
    </span>
  </div>
  <div class="meta">
    {{ change.agent_name }} &middot;
    {{ change.summary }} &middot;
    {{ change.timestamp[:19] }}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
